$color-sf: #117986;
//头部
@mixin header {
  height: 160rpx;
  width: 750rpx;
  background-color: #117986;
}
$uni-bg-color: #f7f7f7;

@mixin hidden {
  transform: scale(0.5);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
@mixin show {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
}
@mixin mask {
  filter: blur(3px);
}
@mixin flexbox{
  display: flex;
  justify-content: center;
  align-items: center;
}